<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <link rel="shortcut icon" type="image" href="icon.png">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Download music, movies, games, software!</title>
</head>
<body>
<div id="container">
    <a href="index.html"><img src="../static/tpb.jpg" alt="tpb"/></a>
    <span id="links" class="decorated__links">
        <ul>
            <li><b>Search torrents</b></li>
            <li><a>Browse Torrents</a></li>
            <li><a>Recent Torrents</a></li>
            <li><a>Top 100</a></li>
        </ul>

    </span>
    <input placeholder="Pirate Search" id="pirate_search"><br/>
    <span id="checkboxes">
        <input type="checkbox" name="All" id="All" value="All" checked="checked"/>
        <label for="All">All</label>
        <input type="checkbox" name="Audio" id="Audio" value="Audio"/>
        <label for="Audio">Audio</label>

        <input type="checkbox" name="Video" id="Video" value="Video"/>
        <label for="Video">Video</label>

        <input type="checkbox" name="Applications" id="Applications" value="Applications"/>
        <label for="Applications">Applications</label>

        <input type="checkbox" name="Games" id="Games" value="Games"/>
        <label for="Games">Games</label>

        <input type="checkbox" name="Porn" id="Porn" value="Porn"/>
         <label for="Porn">Porn</label>

        <input type="checkbox" name="Other" id="Other" value="Other"/>
        <label for="Other">Other</label>
    </span> <br/>
    <span id="buttons">
        <button>Pirate Search</button>
        <button>I'm Feeling Lucky</button>
    </span>
    <br>
    <div id="two_links">
        <ul>
            <li><a>Login</a></li>
            <li><a>Register</a></li>
        </ul>
        <ul>
            <li><a>TOR</a></li>
            <li><a>Forum</a></li>
            <li><a><b>VPN</b></a></li>
            <li><a><b>File Hosting</b></a></li>
        </ul>
    </div><br>
    <div id="btc_links">
        <a>BTC:</a> 3EoJMDs79b3ztkYvj2E1D98eHnZyCSQKso<br>
        <a>BTC(Bech32):</a> bc1q9x30z7rz52c97jwc2j79w76y7l3ny54nlvd4ew<br>
        <a>LTC:</a>LS78aoGtfuGCZ777x3Hmr6tcoW3WaYynx9<br>
        <a>XMR:</a> 46E5ekYrZd5UCcmNuYEX24FRjWVMgZ1ob79cRViyfvLFZjfyMhPDvbuCe54FqLQvVCgRKP4UUMMW5fy3ZhVQhD1JLLufBtu
    </div>


</div>

</body>
</html>